@font-face {
    font-family: "netflix";
    src: url(../fonts/BebasNeue-Regular.ttf);
}
body, html {
    background-color: rgb(20,20,20);
    height: 95%;
    width: 99%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    color: #E50914;
    font-family: "netflix";
    font-size: 35px;
    font-weight: 0;
    cursor: pointer;
    margin: 15px 50px;
    letter-spacing: 2px;
}
.size2 {
    font-size: 32px;
    margin-top: 1px;
}
.size3 {
    font-size: 31px;
    margin-top: 1px;
}
.size4 {
    font-size: 30px;
    margin-top: 1px;
}

.who {
    display: flex;
    height: 70%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.text {
    color: rgb(228, 228, 228);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 40px;
}
.cards {
    display: flex;
    height: 45%;
    width: 55%;
    margin-bottom: 40px;
    justify-content: space-between;
}
.profile {
    display: flex;
    height: 88%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.profile img {
    border-radius: 5px;
    height: 130px;
    border: 2px solid transparent;
}
.profile p {
    color:rgb(153, 153, 153);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.profile:hover p{
    color: antiquewhite;
}
.profile:hover img{
    border: 2px solid antiquewhite;
}

.profile_manage {
    text-align: center;
    height: 35px;
    width: 250px;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    font-size: larger;
    margin-bottom: 100px;
}
.profile_manage p {
    margin: 8px;
    letter-spacing: 2px;
}
.profile_manage:hover {
    cursor: pointer;
    color: antiquewhite;
    border: 1px solid antiquewhite;
}

